.tree{ 
    align-items: center;
    position: relative;
}

.row {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.node {
    border: 2px solid;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.node.active {
    background-color: yellowgreen;
}